.form-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 150;
    color:#127faa;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[type=about] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: monospace;
    align-self: center;
}

[type=meet-type], [type=city], [type=state] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5em;
    box-sizing: border-box;
    font-family: monospace;
    align-self: center;
}

#type {
    padding-right: 5px;
    margin-left: 45px;
}

.create-button {
    background-color: #127faa;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5em;
    font-size: 15px;
    align-self: center;
}

.create-button:hover {
    background-color: #298db5;
}

.cancel-button {
    background-color: #1e4f40;
    color: white;
    padding: 10px;
    margin: 4px;
    border: none;
    cursor: pointer;
    width: 35%;
    border-radius: 5em;
    font-size: 15px;
    align-self: center;
}

.cancel-button:hover {
    opacity: 0.8;
}

.submit-button {
    background-color: #3a680f;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5em;
    font-size: 15px;
    align-self: center;
}

.submit-button:hover {
    opacity: 0.8;
}

.form-errors {
    color:rgb(60, 54, 54);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    align-self: center;
}

ul {
    list-style-type: none;
}
