.group-title {
    color:rgb(5, 109, 5);
}

.all-groups-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 60px;
}
.card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition:  0.3s;
    border-radius: 2em;
    height:fit-content;
    width: 600px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px  16px 0 rgba(0, 0, 0, 0.2);
}

.placeholder-image {
    height: 255px;
    width: 350px;
    margin: 5px 5px 5px 15px;
    border-radius: 25% 10%;
}


.info-container {
    padding:  2px 16px;
}
