.homepage-links{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.group-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.group-text {
    text-align: center;
}

.group-link {
    text-decoration: none;
    color: rgb(245, 176, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-top: auto;
}
.event-link {
    text-decoration: none;
    color: rgb(85, 188, 222);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-sm {
    text-align: center;
    font-weight: 400;
    font-family: monospace;
}
