
.form-container {
    display: flex;
    flex-direction: column;
    width: 26em;
    height: auto;
    padding: 20px;
    margin: auto;
    background-color: #bdb1a2;
    opacity: 0.8;
    border-radius: 1em;
}

.form-title {
    font-size: 1.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
}

span {
    align-self: center;
}


#signup-title {
    color:#298db5;
    align-self: center;
}


#signup-link {
    font-size: medium;
    color:#346308;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    display: flex;
    height: fit-content;
    margin-top: 1em;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.3em;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-errors  {
    margin: 0em;
}

 input[type=email], input[type=password], [type=name], [type=lastName] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5em;
    box-sizing: border-box;
    font-family: 'Helvetica';
    align-self: center;
  }

.login-button {
    background-color: #6db529;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5em;
    font-size: 15px;
    align-self: center;
}

.demo-user {
    background-color: #298db5;
    border: none;
    padding: 14px 20px;
    border-radius: 2em;
    color: aliceblue;
    width: 60%;
    margin: 8px;
    align-self: center;
}

.signup-button {
    background-color: #298db5;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5em;
    font-size: 15px;
    align-self: center;
}

/* Add a hover effect for buttons */
.login-button:hover {
    opacity: 0.8;
  }
